<li class="styleitem">
    <p>
    {{#each registered.message}}
        {{partial this ../. }}
    {{/each}}
    {{{message}}}{{{message1}}}{{{message2}}}{{{message3}}}
    </p>
    {{#ifTypeof jscs "[object Array]"}}
    <ul class="jscslist">
        {{#each jscs}}
            <li>"{{ this }}"</li>
        {{/each}}
    </ul>
    {{/ifTypeof}}
    {{#if jscs.allExcept}}
        <p>An exception is made for the following:</p>
        <ul>
            {{#each jscs.allExcept}}
                <li>"{{ this }}"</li>
            {{/each}}
        </ul>
    {{/if}}
    {{#if example}}
        <div class="example">
            <span class="heading"><span>EXAMPLE</span></span>
            <pre><code class="lang-js">{{example}}</code></pre>
        </div>
    {{/if}}
    {{#ifCond right "||" registered.right.length}} 
        <div class="right">
            <span class="heading"><span>{{options.valid_keyword}}</span></span>
            <pre><code class="lang-js">{{#each registered.right}}{{partial this ../. }}{{/each}}{{right}}{{right1}}</code></pre>
        </div>
    {{/ifCond}}
    {{#ifCond wrong "||" registered.wrong.length}} 
        <div class="wrong">
            <span class="heading"><span>{{options.invalid_keyword}}</span></span>
            <pre><code>{{#each registered.wrong}}{{partial this ../. }}{{/each}}{{wrong}}</code></pre>
        </div>
    {{/ifCond}}
</li>
